<ul>
  {% if site.menu %}
    {% for node in site.menu %}
      <li class="{% if node.submenus %}has-submenu{% endif %}">
        {% if node.submenus %}
          <span class="submenu-toggle">▼</span> 
        {% endif %}
        <a href="{% include_cached smart-url url=node.url %}">
          {{ node.name | default:node.title }}
        </a>
        {% if node.submenus %}
          <ul class="submenu">
            {% for subnode in node.submenus %}
              <li>
                <a href="{% include_cached smart-url url=subnode.url %}">
                  {{ subnode.name | default:subnode.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  {% endif %}
</ul>
