@use "sass:color";
@use "sass:math";

html {
  --accent-color: #21215d;
  --accent-color-faded: #{color.adjust($color: #21215d, $alpha: -0.5)};
  --accent-color-highlight: #{color.adjust($color: #21215d, $alpha: -0.9)};
  --accent-color-darkened: #{color.adjust($color: #21215d, $lightness: -7.5%)};
  --theme-color: #ffcc00;

  --dark-mode-body-bg: #{color.hsl(
    $hue: color.hue(#ffcc00),
    $saturation: math.div(color.saturation(#ffcc00), 8),
    $lightness: 17.5%
  )};
  --dark-mode-border-color: #{color.hsl(
    $hue: color.hue(#ffcc00),
    $saturation: math.div(color.saturation(#ffcc00), 8),
    $lightness: 22.5%
  )};
}
