// Sass 변수로 Liquid 데이터를 먼저 처리
$theme-color: {{ theme_color }};
$adjusted-color: #ffcc00; // Replace this with your actual color logic

html {
  --accent-color: #{$theme-color};
  --accent-color-faded: #{fade-out($adjusted-color, 0.5)};
  --accent-color-highlight: #{fade-out($adjusted-color, 0.9)};
  --accent-color-darkened: #{darken($adjusted-color, 7.5%)};

  {% if site.github and site.hydejack.dart_sass_2_compat != true %}
  --dark-mode-body-bg: hsl(#{hue($theme-color)}, #{saturation($theme-color) / 8}%, 17.5%);
  --dark-mode-border-color: hsl(#{hue($theme-color)}, #{saturation($theme-color) / 8}%, 22.5%);
  {% else %}
  --dark-mode-body-bg: hsl(#{hue($theme-color)}, #{saturation($theme-color) / 8}%, 17.5%);
  --dark-mode-border-color: hsl(#{hue($theme-color)}, #{saturation($theme-color) / 8}%, 22.5%);
  {% endif %}
}
