/* 기본 메뉴 스타일 */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
}

a {
  text-decoration: none;
}

nav ul li {
  padding:0.5em 0;
}

nav ul {
  margin:2em 0 4em 0;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  z-index: 10;
  padding: 0;
  margin: 0;
}

.submenu li a {
  text-decoration: none;
  display:inline-block;
  color: #fff;
  font-weight:400;
}

.submenu li {
  padding:0.5rem 0 0 0;
}

.submenu-toggle {
  position:relative;
  display:inline-block;
  cursor: pointer;
  padding-left: 5px;
  color: #fff;
  vertical-align: middle;
}

.submenu-toggle::after {
  content:'▼';
  font-size:10px;
  color:#fff;
}

.submenu_open::after {
  content:'▲';
  font-size:10px;
  color:#fff;
}

.submenu.open {
  max-height: 500px; 
}

.sidebar-about>a.sidebar-title>h2 {
  font-size: 1.5rem;
}

.sidebar-about>a.sidebar-title::after {
  width:0;
  margin:0;
}

.sidebar-about p {
  font-size:0.7rem;
  color:rgba(255,255,255,.5);
}

.sidebar-social>ul>li>a {
  font-size: 1.4rem;
  width: 100%;
  height: auto;
  padding: 0 0.3em;
  line-height: 0;
  border-bottom-width: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #ccc;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tag:hover {
  background-color: #333;
  color: #fff;
}

.tag_react {
  background-color: #61dafb;
  color: #20232a;
  font-weight:400;
  padding:3px 10px;
  border-radius: 25px;
  font-size:12px;
}

.tag_responsive {
  background-color: #4caf50;
  color: white;
  font-weight:400;
  padding:3px 10px;
  border-radius: 25px;
  font-size:12px;
}

.tag_html5 {
  background-color: #e34f26;
  color: white;
  font-weight:400;
  padding:3px 10px;
  border-radius: 25px;
  font-size:12px;
}

.tag_css3 {
  background-color: #2965f1;
  color: white;
  font-weight:400;
  padding:3px 10px;
  border-radius: 25px;
  font-size:12px;
}

.tag_javascript {
  background-color: #f7df1e;
  color: #000;
  font-weight:400;
  padding:3px 10px;
  border-radius: 25px;
  font-size:12px;
}