/* 기본 메뉴 스타일 */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  left: 0;
  transition: max-height 0.3s ease;
  z-index: 10;
  padding: 0;
  margin: 0;
}

.submenu li a {
  text-decoration: none;
  color: #fff;
}

/* 서브메뉴 토글 버튼 */
.submenu-toggle {
  cursor: pointer;
  padding-left: 5px;
  color: #fff;
}

/* 활성화된 서브메뉴 */
.submenu.open {
  max-height: 500px; /* 적절한 크기 설정 */
}

